/* ==========================================================================
   Line Block Component
   ========================================================================== */

.app-c-line-block {
  border-left: 1px solid #b1b4b6; /* govuk-colour("mid-grey") */
  padding-left: 15px; /* govuk-spacing(3); */
  margin: 0 0 30px 0; /* govuk-spacing(6) */
  /* Override the browser default of italics for <address> */
  font-style: normal;
}
