/* ==========================================================================
   Masthead Component
   ========================================================================== */

.app-c-masthead {
  /* background-color: #1d70b8; */
  background-color: #d2e2f1;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .app-c-masthead {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.app-masthead__description {
  margin-top: 0;
  max-width: 30em;
  color: #0b0c0c;
  margin-bottom: 15px;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.1904761905;
}

@media print {
  .app-masthead__description {
    color: #000;
  }
}

@media (min-width: 40.0625em) {
  .app-masthead__description {
    margin-bottom: 40px;
  }
}

@media print {
  .app-masthead__description {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-masthead__description {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-masthead__description {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-masthead__description--inverse {
  color: #fff;
}

@media print {
  .app-masthead__description {
    color: #000;
  }
}
